
*{
  margin: 0;
  padding: 0;    
  box-sizing: border-box ;  
}

body{
   background-color: rgb(233, 114, 30);
   font-family: Arial, Helvetica, sans-serif;
}


/*!----Inicio borde animado cabecera----->*/
.contenedor-head animate-bg {
position: relative;
margin: 10px auto 0;
width: 98%;
height: 320px;
}

.animate-bg:before, .animate-bg:after {
content: '';
position: absolute;
left: -8px;
top: -8px;
background: linear-gradient(120deg, #79fb00, #ab4db8, #ffe600, #62dfd8,  
#68c775, #acfcc4,#ff6600, #00c3ff, #F4c2e4,#adad02);
background-size: 300%;
width: calc(100% + 16px);
height: calc(100% + 16px);
z-index: -1;
animation: BGgradient 15s ease infinite; 
}

@keyframes BGgradient {
0% {
  background-position: 0% 200%;
}
50% {
  background-position: 200% 0%;
}
100% {
  background-position: 0% 330%;
}
}
/*!----Final borde animado cabecera ----->*/
/*!----Fin Cabecera tutor Diseño AlexCG----->*/

/*!-----------Inicio Menu Circular---------->*/

a{
  text-decoration: none;
  text-align: center;
}

.menu{
  position: absolute;
  margin-top: 15%;
  left: 50%;
  width: 0;
  transform: translate(-50%, 55%);
}

.container {
position: relative;
margin: 10px auto 0;
  padding: 5px auto 0;
  right: 8px;
width: 23%;
height:0px;
}

.toggle{
  display: none;
}

.menu-social-media-icon{
  margin-top: 25px;
}

.toggle + .menu-icon{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%) scale(1);
  display: block;
  background: #200c50;
  color: #fff;
  text-align: center;
  font-size: 2.5em;
  transition: all .8s;
}

.menu i{
  padding-top: 30px;
  font-weight: 600;
  font-size: 1.0em;
  }

.bxs-notification-off{
  color: orangered;
  }

.bxs-image{
  color: rgb(255, 204, 0);
}

.bxs-contact{
  color: rgb(224, 34, 160);
}

.bxl-facebook{
  color: rgb(16, 23, 234);
}

.bxl-twitter{
  color: rgb(0, 72, 255);
}

.bxl-whatsapp-square{
  color: rgb(0, 255, 8);
}

.toggle + .menu-icon:hover{
  box-shadow: 5px 5px 20px 5px #000;
}

.toggle:checked + .menu-icon{
  transform: translate(-50%, -50%) scale(.5);
}

.menu input[type=checkbox] + label:before{
  content: "";
  position: absolute;
}

.toggle + .menu-social-media-icon:before,
.toggle + .menu-social-media-icon:after{
  content: "";
  position: absolute;
  margin: -3px;
  border-radius: 5px;
  transition: all .3s;
}

.toggle + .menu-social-media-icon::before{
  width: 30px;
  height: 0;
  left: 10px;
  top: 25px;
}

.toggle + .menu-social-media-icon::after{
  width: 0;
  height: 30px;
  left: 25px;
  top: 10px;
}

.toggle:checked + .menu-social-media-icon::before,
.toggle:checked + .menu-social-media-icon::after{
  transform: rotate(135deg);
}

.toggle ~ .social-media-icon{
  position: absolute;
  background-color: #000;
  color: #fff;
  width: 85px;
  height: 85px;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: all .3s;
  border-radius: 50%;
}

.toggle:checked ~ .social-media-icon{
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.menu > .toggle:checked ~ .social-media-icon:nth-last-of-type(1){
  top: -122px;
  left: 0;
  transition-delay: .0s;
}

.menu > .toggle:checked ~ .social-media-icon:nth-last-of-type(2){
  top: -74px;
  left: 120px;
  transition-delay: .125s;
}

.menu > .toggle:checked ~ .social-media-icon:nth-last-of-type(3){
  top: 56px;
  left: 115px;
  transition-delay: .25s;
}

.menu > .toggle:checked ~ .social-media-icon:nth-last-of-type(4){
  top: 122px;
  left: 0;
  transition-delay: .373s;
}

.menu > .toggle:checked ~ .social-media-icon:nth-last-of-type(5){
  top: 56px;
  left: -115px;
  transition-delay: .5s;
}

.menu > .toggle:checked ~ .social-media-icon:nth-last-of-type(6){
  top: -74px;
  left: -120px;
  transition-delay: .625s;
}

.menu > .toggle:checked ~ .social-media-icon:nth-last-of-type(7){
  top: 0;
  left: -133px;
  transition-delay: .75s;
}

.menu > .toggle:checked ~ .social-media-icon:nth-last-of-type(8){
  top: -94px;
  left: -94px;
  transition-delay: .875s;
}
/*!---------------------- Final Menu Circular ---------------------->*/


/** Url fonts **/
.container-dos {
  width: 100%;
  max-width: 1100px;
  overflow: hidden;
  margin: auto;
  padding: 2.5px 0;
  justify-content: space-between;
  align-items: center;
}
/** Url fonts **/


/*!------------  INICIO  PARRAFO MARQUEE Y PARRAFO ----------------------->*/
.parrafo1 marquee{
  font-size: 20px;
  font-style: italic;
  text-align: justify;
  
-webkit-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
}

.parrafo2 marquee{
  font-size: 20px;
  font-style: italic;
  text-align: justify;

-webkit-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
}

.parrafo3 marquee{
  font-size: 20px;
  font-style: italic;
  text-align: justify;

-webkit-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
}

.parrafo1{
  font-size: 20px;
  font-style: italic;
  text-align: justify;

-webkit-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
}

.parrafo2{
  font-size: 20px;
  font-style: italic;
  text-align: justify;

-webkit-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
}

.parrafo3{
  font-size: 20px;
  font-style: italic;
  text-align: justify;

-webkit-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
box-shadow: -15px 7px 45px -3px rgba(0,0,0,0.75);
}
/*!----------- FINAL PARRAFO MARQUEE Y PARRAFO----------------------->*/



/*!------ Inicio mapa ------->*/

.map-responsive{
  overflow:hidden;
  padding-bottom:50%;
  position:relative;
  height:0;
  height:100%;
}

.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
/*!------ Final mapa ------->*/


/*!---- INICIO direccionales hacia abajo----->*/

.pimienta {
  text-align: center;
}

.pimienta a {
  padding: 7px 10px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

header a:hover {
  color: blueviolet;
}
/*!---- FINAL direccionales hacia abajo----->*/



/*!------ Inicio hacia arriba footer scrool button -------->*/

.lierlis {
  scroll-behavior: smooth;
}

.btn-scrolltop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px 20px;
  background: #030200;
  color: white;
  border: 1px solid white;
  border-radius: 100%;
  cursor: pointer;
  z-index: 1;
  transform: translateY(100px);
  transition: 0.3s;
}

.btn-scrolltop-on {
  transform: translateY(0);
}
/*!------ Final arriba footer scrool button ------->*/


/*!----INICIO  FOOTER!----->*/

.footer {
  background-color: hwb(41 7% 8% / 0.6);
  margin-top: 1%;
  width: 100%;
  padding: 0px 0px;
  position: relative;
  }

.footer_p{
  color: #000;
  text-align: center;
  }

.footer_p2{
  color: #000;
  text-align: center;
}
/*!--------- FINAL  FOOTER --------------->*/




